@{
    ViewBag.Title = "AdministrationDashboard";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    <span>Add</span>
                </h3>
                <p>
                    New Look up data
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="../LookUpData/CreateLookUpData" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>
                    <span>Add</span>
                </h3>
                <p>
                    New Company
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-social-buffer"></i>
            </div>
            <a href="../Company/ConfigureCompany" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
         <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    <span>Edit</span>
                </h3>
                <p>
                    Screen Verbiage
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="../Administration/CustomizeScreenVerbiage" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i>
            </a>
       
        </div>
    </div>
      <div class="col-lg-3 col-xs-6">
     <div class="small-box  bg-blue">
            <div class="inner">
                <h3>
                    <span>Add</span>
                </h3>
                <p>
                    Import Employee data.
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-clipboard"></i>
            </div>
            <a href="../ImportEmployeecsvdata/ImportEmployeeData" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i>               
            </a>
        </div>
          </div>
    <!-- ./col -->

</div>
<!-- /.row -->
<script type="text/javascript">
    $(document).ready(function () {
        var resultingSiteview = "<h1>Dashboard<small>Administration Dashboard</small></h1><ol class=" + '"breadcrumb"' + "><li><a href=" + '"../Home/EmployeeDashboard"' + "><i class=" + '"fa fa-dashboard"' + "></i>Home</a></li><li class=" + '"active"' + ">Administration dashboard</li></ol>";
        $("#header-section").empty();
        $("#header-section").html(resultingSiteview);
    });

</script>