<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings configSource="ConnectionStrings.config">
    <!--<add name="HRMSEntities1" connectionString="metadata=res://*/Models.EDM.HRMS.csdl|res://*/Models.EDM.HRMS.ssdl|res://*/Models.EDM.HRMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLServer;initial catalog=HRMS;user id=sa;password=sa!2014;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="HRMSEntities1" connectionString="metadata=res://*/Models.EDM.HRMS.csdl|res://*/Models.EDM.HRMS.ssdl|res://*/Models.EDM.HRMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLServer;initial catalog=HRMS;user id=sa;password=sa!2014;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="HRMSEntities1" connectionString="metadata=res://*/Models.EDM.HRMS.csdl|res://*/Models.EDM.HRMS.ssdl|res://*/Models.EDM.HRMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pspl-pc173\sql2014;initial catalog=HR;user id=sa;password=pspl;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
