<?xml version="1.0"?>

  <connectionStrings>
    <add name="HRMSEntities1" connectionString="metadata=res://*/Models.EDM.HRMS.csdl|res://*/Models.EDM.HRMS.ssdl|res://*/Models.EDM.HRMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pspl-pc173\sql2014;initial catalog=HR;user id=sa;password=pspl;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

