<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../images/avatar2.png">
    <title>::: HRMS :::</title>

    <!-- GOOGLE STYLESHEETS FOR FONTS-->  
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>

    <!-- STYLESHEETS -->    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />    
    <link href="~/Content/style.css" rel="stylesheet" />    
    <link href="~/fonts/font-awesome-4/css/font-awesome.min.css" rel="stylesheet" />    
    <link href="~/Content/customize.css" rel="stylesheet" />

</head>

<body style="overflow-x: hidden;">

    <!-- Fixed navbar -->
    @RenderBody()


    @RenderSection("scripts", required: false)

</body>
</html>
