@using HRSystem.Services.Models;
@model MainEmployee

@{
    ViewBag.Title = "Termination";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@*<style>
    .btn{
        padding: 4px 5px !important;
    }
</style>*@
@*<link href="~/Content//bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="~/Content/custom.min.css" rel="stylesheet" type="text/css">*@

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Termination</h2>
        @*<span style="font-size: initial;float:right;margin-top:-4px;"> @Html.ActionLink("Back To Home Page", "Index", new object { }, new { @class="btn btn-primary"})</span>*@

    </div>
    <div class="panel-body">
            <div class="table-primary table-striped">

                <table class="table table-striped table-bordered" id="Item" style="width: 100%">
                    <thead>
                        <tr>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Employee_List)
                        {
                            <tr>
                                <td>
                                    @item.FirstName
                                </td>
                                <td>
                                    @item.LastName
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
    </div>
</div>





